
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img{
 	margin-top: -30px; 
 	max-height: 7rem;
}
.error{
	color: #D8000C;
	font-weight:unset !important;
}
.bg-gradient-default {
    background: linear-gradient(87deg, #5e72e4 0, #5e72e4 100%) !important;
} 
.w-49{width:47%;display: inline-block; margin:0 2px;}
.padd-20{padding:20px;}
.cd-filter-block{margin:0 0 25px;border-bottom: 1px solid #ccc;}
.services-filter .custom-control{margin: 0 0 10px;}
.services-filter .custom-control-label {font-size: 20px;line-height: 21px;}
.services-filter label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}
.cd-filter-block .slider.slider-horizontal{width:100%;}
.cd-filter-block .slider-blue{margin:15px 10px;}
.cd-filter-block h4{margin: 0 0 20px;}
.col-md-2-5{width:18.4%; margin: 0 10px;}
.dasboard-box .info-box {
    box-shadow:inherit;
    border-radius:0;
    background:transparent;
    display: block;
    margin-bottom: 1rem;
    padding:0;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dasboard-box .info-box .info-box-icon{margin: 0 auto 10px;}
.dasboard-box .info-box .info-box-content{padding: 0;}
.dasboard-box .info-box .info-box-text
{text-align: center; font-size: 16px;line-height: 21px;}
.dasboard-box .info-box .info-box-number {
    text-align: center;
    font-size: 25px;
    line-height:30px;
}
.service-dropdown{margin: 0 0 15px;}
.cd-filter-block .select2-container{width: 100%!important;}

.filter-sec.col-xl-2 {
    -ms-flex: 0 0 20.667%;
    flex: 0 0 20.667%;
    max-width: 20.667%;
}
.dashboard-right.col-xl-10{
	-ms-flex: 0 0 83.333333%;
flex: 0 0 79.333%;
max-width: 79.333%;
}

.search-form{background: #fff; border:1px solid #ced4da;text-align: right;margin: 0 0 0 auto;width:300px;border-radius: 5px;}
.search-form .form-control{border:0px ;border-radius: 5px!important;}
.search-form .input-group-btn{position: absolute;right: 0;z-index: 9;}
.info-box .info-box-text, .info-box .progress-description{text-overflow: inherit;white-space: inherit;}
.main-footer{font-size: 14px;}

.select2-container--default .select2-selection--single{ padding-bottom: 28px !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow b{ margin-top: 3px !important; }
.load-first{position: relative;}
#loading { background: no-repeat center center; position: absolute; top:300px; left:45%; z-index: 9999999;}
.overlay { background: #e9e9e9; position: absolute; opacity: 0.5;}
.container-fluid.overlay-add.overlay{width: auto;}

@media screen and (max-width:1900px) {

	.col-md-2-5 {width:18.7%;margin: 0 5px;}
     .dasboard-box .info-box .info-box-text {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){
	
.dasboard-box .info-box .info-box-text {
    width: 150px;
    display: inline;
    min-height: 40px;
}	
	
	
	
}

@media screen and (max-width:1400px) {
.w-49 {width: 46%;}
	.col-md-2-5{width:17.7%;}
}


@media screen and (max-width:1300px) {
.w-49 {width: 100%;margin:0 0 10px;}	
	
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
.w-49 {width: 100%;margin:0 0 10px;}
	.filter-sec.col-xl-2 {-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
	}
	.dashboard-right.col-xl-10 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
	.col-md-2-5 {width: 30.7%;margin: 0 5px;}
	.search-form{width: auto;}
    .dasboard-box .info-box .info-box-text {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
}

@media screen and (max-width:1170px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px){
.dashboard-right.col-xl-10 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
	.filter-sec.col-xl-2 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
	.col-md-2-5 {width: 30.7%;margin: 0 5px;}
	.search-form{width: auto;}
	.dasboard-box .info-box .info-box-text {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    min-height: 40px;
}
}



@media only screen and (min-width: 320px) and (max-width: 767px){
	.filter-sec.col-xl-2, .dashboard-right.col-xl-10{position: relative;width: 100%;padding-right: 7.5px;padding-left: 7.5px;-ms-flex: inherit;flex:inherit;max-width: 100%;}
	.col-md-2-5 {width: 46%;margin: 0 5px;}
	.dasboard-box .info-box .info-box-text, .dasboard-box .info-box .info-box-number{text-align: center; font-size: 17px;line-height:21px;white-space: inherit;text-overflow: inherit;}
	.search-form{width: auto;}
}
@media screen and (max-width:475px) {
	.dasboard-box .info-box .info-box-text{min-height: 50px;}
}