<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267795451135-sfs768js250pjf6e5osviubavpurerag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267795451135-sfs768js250pjf6e5osviubavpurerag</string>
	<key>API_KEY</key>
	<string>AIzaSyAa5QZdyx79cW0xv638R23fCj6Bjaix8mY</string>
	<key>GCM_SENDER_ID</key>
	<string>267795451135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harnishsalon</string>
	<key>PROJECT_ID</key>
	<string>harnishsalon</string>
	<key>STORAGE_BUCKET</key>
	<string>harnishsalon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267795451135:ios:5a26b68c10eb821507d0ca</string>
</dict>
</plist>